<a href="https://colab.research.google.com/github/jahelsantiago/AI-for-medical-diagnosis/blob/main/Data_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df_train = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Deeplearning_Ai/X-RayClasificator/utf-8''train-small.csv")
print("train shape", df_train.shape) #imprimimos el numero de filas y colomnas
df_train.head()

(1000, 16)

              Image  Atelectasis  ...  Pneumonia  Pneumothorax
0  00008270_015.png            0  ...          0             0
1  00029855_001.png            1  ...          0             0
2  00001297_000.png            0  ...          0             0
3  00012359_002.png            0  ...          0             0
4  00017951_001.png            0  ...          0             0

[5 rows x 16 columns]

In [14]:
df_val = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Deeplearning_Ai/X-RayClasificator/utf-8''valid-small.csv")
print("train shape", df_val.shape) #imprimimos el numero de filas y colomnas
df_val.head()

train shape (109, 16)

              Image  Atelectasis  ...  Pneumonia  Pneumothorax
0  00027623_007.png            0  ...          0             0
1  00028214_000.png            0  ...          0             0
2  00022764_014.png            0  ...          0             0
3  00020649_001.png            1  ...          0             0
4  00022283_023.png            0  ...          0             0

[5 rows x 16 columns]

### Avoid over laping

identify unique patients ID

In [16]:
#unique values 
ids_train = set(df_train["PatientId"].values)
ids_val = set(df_val["PatientId"].values) 

print("number of patients", len(ids_train))
print("number of patients", len(ids_val))

#overlaping data
overlap = list(ids_train.intersection(ids_val))
print("len of overlapping patients", len(overlap))

number of patients 928
number of patients 97
len of overlapping patients 11